@use "../../variables" as *;
.top_wrapper {
  background-color: $black;
  & .top_img {
    background-image: url(./img/top-image.jpg);
    background-size: cover;
    height: 360px;
    @media screen and (min-width: $breakpoint-lg) {
      height: 100vh;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    & .top_img_content {
      color: $white;
      font-family: $fontfamily-mincho;
      font-size: $fontsize-l;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: $fontsize-xl;
      }
      writing-mode: vertical-rl;
      margin-bottom: 0;
    }
  }
  & .wrap_message {
    color: $white;
    margin-left: 140px;
    margin-right: 140px;
    @media screen and (min-width: $breakpoint-lg) {
      margin-left: 16.5px;
      margin-right: 16.5px;
      padding-bottom: 74px;
    }
  }
}
