@use "../../variables" as *;

.hearder_wrapper {
  & button {
    border: none !important;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  & .navbar {
    background-color: $black;
    padding: 0 16px;
    @media (min-width: $breakpoint-xl) {
      padding: 0 30px;
      background-color: $black_50;
    }
    & > .navbar-brand {
      padding: 20px 0;
      @media (min-width: $breakpoint-xl) {
        padding: 30px 0;
      }
    }
    & > button {
      padding: 0;
    }
    & > .navbar-collapse {
      @media (min-width: $breakpoint-xl) {
        justify-content: flex-end;
      }
      ul {
        & > li {
          padding: 15px 0;
          @media (min-width: $breakpoint-xl) {
            padding: 35px 20px;
          }
          & > a {
            padding: 0;
            color: $white;
            font-weight: 400;
            font-size: $fontsize-s;
            transition: 0.2s ease;
            &:hover {
              color: $white;
              @media (min-width: $breakpoint-xl) {
                color: $gray_nobel;
              }
            }
          }
        }
        & > li:last-child {
        }
        & > li:nth-child(2) {
          &:hover {
            & > .dropdown-menu {
              @media (min-width: $breakpoint-xl) {
                display: block;
              }
            }
          }
          & > a {
            display: inline;
            @media (min-width: $breakpoint-xl) {
              display: list-item;
            }
          }
          & > button {
            width: 26px;
            height: 26px;
            float: right;
            padding: 0;
            @media (min-width: $breakpoint-xl) {
              display: none;
            }
          }
          & > .dropdown-menu {
            margin: 0;
            border: none;
            padding: 0;
            background-color: $black;
            border-radius: 0;
            & > a {
              transition: 0.2s ease;
              color: $white;
              padding: 15px 12px;
              @media (max-width: $breakpoint-xl) {
                &:first-child {
                  padding: 30px 12px 15px;
                }
                &:last-child {
                  padding: 15px 12px 0;
                }
              }
              &:hover {
                background-color: $black;
                @media (min-width: $breakpoint-xl) {
                  background-color: $orange_bistre;
                }
              }
            }
          }
        }
      }
    }
  }
}
