@use "../variables" as *;

.news-and-events-wrapper {
  background-color: $white_smoke;
  padding: 56px 1px 59px;
  & > .news {
    & > .news-contents-wrapper {
      background-color: $white;
    }
  }
  & > .events {
    & > .event-list {
      & > .event-card {
        & > a {
          @media (min-width: $breakpoint-lg) {
            height: 142px;
          }
        }
      }
    }
  }
}
