@use "../../variables" as *;

.organisms-plans {
  & > .row {
    padding: 0 9px;
  }
  & > .button {
    margin: 0 auto 15px auto;
    @media screen and (min-width: $breakpoint-md) {
      margin: 40px auto 100px auto;
    }
  }
}
