@use "../../variables" as *;

.organisms-plans {
  & > .row {
    & > .col {
      &:first-child {
        padding-left: 24px;
      }
      &:last-child {
        padding-right: 24px;
      }
    }
  }
  & > .button {
    margin: 0 auto 15px auto;
    @media screen and (min-width: $breakpoint-md) {
      margin: 40px auto 100px auto;
    }
  }
}
