@use "../../variables" as *;
.organisms-cards {
  @media screen and (min-width: $breakpoint-md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .card {
    margin-bottom: 40px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 100px;
    }
  }
}
